@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display+SC=swap');

body,h1, h2, h3, ul, li ,p ,dd, dt, dl {
  margin: 0;
  padding: 0;
}

img{
  display: block;
  max-width: 100%;
}

ul{
  list-style: none;
}

body {
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu{
  grid-column: 3 / 5;
  margin-top: 32px;
  margin-bottom: 32px;
  background: #fb5;
}

.menu ul{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a{
  display: block;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #222;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .1em;
}

.grid-section{
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 64px;
}

.titulo{
  font-family: 'Playfair Display SC', georgia, serif ;
  font-size: 96px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: .1em;
  margin-bottom: 16px;

  grid-column: 1 / 4;
}

.animais h2 {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 16px;
  color: #e54;
}
.animais h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color:#fb5;
}

.animais p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin-bottom: 16px;
}

.animais ul{
  height: 370px;
  overflow-y: scroll;  
  grid-column: 2;
}

.animais ul::-webkit-scrollbar{
  width: 18px;  
}
.animais ul::-webkit-scrollbar-thumb{
  background-color: #fb5;
  border-left: 4px solid #faf6ed;  
}
.animais ul::-webkit-scrollbar-track{
  background-color: #faf6ed; 
}

.animais-descricao{
  grid-column: 3; 
}

.animais-descricao section{
  margin-bottom: 48px;
}

.faq-lista{
  grid-column: 2 / 4 ;
}

.faq-lista dt{
  font-family: monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #e54;
}

.faq-lista dt::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.faq-lista dd {
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: .5rem;
  margin-left: 30px;  
}

.mapa{
  grid-column: 2;
}

.dados{
  grid-column: 3;
}

.dados li{
  margin-bottom: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

.dados li::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
} 

.copy {
  grid-column: 3 / 5;
  margin-bottom: 32px;
  background-color: #fb5;
}

.copy p{
  padding: 20px;
  font-family: monospace;
}

@media (max-width:700px){
  body{
    grid-template-columns: 1fr;
  }
  .menu, .grid-section, .copy{
    grid-column: 1;
  }
  .grid-section{
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
  .animais ul{
    grid-column: 1;
  }
  .faq-lista, .dados, .mapa{
    grid-column: 1 / 3;
  }
  .grid-section h1{
    font-size: 3rem;
  }
  .menu{
    margin-top: 0;
  }
  .copy{
    margin-bottom: 0;
  }
}